/*   SystemTime    */
div#IsrTG_Content div#SystemTime
{
	border-radius: 10px;
	padding: 5px;
	display:block;
	text-align:center;
	vertical-align:middle;
	background:black;
	width:100%;
	cursor: default;
}

div#IsrTG_Content div#SystemTime .Icon img
{
	position:relative;
	top:0px;
	vertical-align:middle;
	height:30px;
	width:30px;
	margin:0px 10px;
}

div#IsrTG_Content div#SystemTime span
{
	color:white;
	position:relative;
	vertical-align:middle;
	font-size: 100%;
	margin:0px 3px;
}

div#IsrTG_Content div#SystemTime .serverTime
{
	font-weight: bold;
	font-size: 200%;
}

div#IsrTG_Content div#SystemTime .serverDate
{
	font-size: 150%;
}

div#IsrTG_Content div#SystemTime .Title
{
	text-decoration: underline;
	font-weight: bold;
}
/*   End SystemTime    */






/*   Menu    */
div#Mngr_Menu
{
	margin-top:10px;
}
div#Mngr_Menu ul .active a
{
	color:black;
	font-size: 105%;
	font-weight: bold;
}
div#Mngr_Menu ul li:hover
{
	background:#c4c4c4;
}
div#Mngr_Menu ul li:hover:not(.active) a
{
	color:white;
}
/*   End Menu    */




/*   Main Clan Managment    */

div#IsrTG_Content div#Main_Clan_Managment
{
	
}

table#EventLogTable
{
	padding:0px 5px;
	border:1;
	border-collapse: collapse;
	text-align:center;
	width:100%;
}

#EventLogTable_paginate .paginate_button
{
	padding:0px;
	margin:0px;
}

/*   END Main Clan Managment    */





div#IsrTG_Content
{
	cursor: default;
}

div#IsrTG_Content .Title h1
{
	background:black;
	color:white;
	border-radius: 10px 10px 0px 0px;
	text-align:center;
	margin:10px 0px 0px 0px;
	padding:10px;
	font-weight: bold;
	font-size: xx-large;
}
div#IsrTG_Content .Title h2
{
	background:#717171;
	color:white;
	border-radius: 10px 10px 0px 0px;
	text-align:center;
	margin:10px 0px 0px 0px;
	padding:5px;
	font-weight: bold;
	font-size: x-large;
}
div#IsrTG_Content .Title h3
{
	background:#717171;
	color:white;
	border-radius: 10px 10px 0px 0px;
	text-align:center;
	margin:10px 0px 0px 0px;
	padding:5px;
	font-weight: bold;
	font-size: large;
}

div#IsrTG_Content .MainContent
{
	margin:0px;
	padding:10px 10px;
	background:var(--ClanManagmentInnerDiv-BgColor);
	color:var(--ClanManagmentInnerDiv-TextColor);
	border-radius: 0px 0px 10px 10px;
}
