/* User Profile */
table#userProfile
{
	border:1;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

table#userProfile .RowCell
{
}

table#userProfile .TableRow .RowCell:first-child
{
	width:15%;
	background:ar(--FirstCol-BgColor);
	color:var(--FirstCol-TextColor);
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}

table#userProfile .SecondTitle
{
	font-weight:bold;
	text-align:center;
	background-color: var(--SecondTableTitle-color);
	color: var(--SecondTableTitle-Textcolor);
	vertical-align: middle;
	padding: 30px 0px 0px 30px;
	font-size: 120%;
	font-weight: bold;
}
/* End User Profile */

/* Roster Css style*/
#IsrTG_Content #IsrTG_Roster h3
{
	display:block;
	width:100%;
	height:100%;
	padding: 4px 0px;
	margin: 0px;
	background-color: var(--MainTableTitle-color);
	color: var(--MainTableTitle-Textcolor);
	text-align: center;
	direction: rtl;
	/*vertical-align: middle;*/
	border: none;
	font-weight: bold;
	font-size: 120%;
}

#IsrTG_Content #IsrTG_Roster h4
{
	text-align: right;
	vertical-align: middle;
	font-size: 90%;
}


#IsrTG_Content #IsrTG_Roster
{
	border: 0;
	text-align: center;
	/* width: 45%;*/
	cursor: default;
}

#IsrTG_Content #IsrTG_Roster #Managment_Table
{
	border:1;
	border-collapse: collapse;
	text-align:center;
	width=100%;
}

#IsrTG_Content #IsrTG_Roster #Staff_Table
{
	border:1;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

#IsrTG_Content #IsrTG_Roster #Senior_Members_Table
{
	border:1;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

#IsrTG_Content #IsrTG_Roster #Members_Table
{
	border:1;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

#IsrTG_Content #IsrTG_Roster #Recruits_Table
{
	border:1;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

#IsrTG_Content #IsrTG_Roster .TableTitle
{
	height:40px;
	font-size: 120%;
}

#IsrTG_Content #IsrTG_Roster .TitleCell
{
	font-weight:bold;
	text-align:center;
	background: var(--FirstCol-BgColor);
	color: var(--FirstCol-TextColor);
	vertical-align: middle;
}

#IsrTG_Content #IsrTG_Roster .TableRow
{
	height:30px;
}

#IsrTG_Content #IsrTG_Roster .TableRow:nth-child(odd)
{
	background:var(--Table_OddEven-rows-BgColor);
	color:var(--Table_OddEven-rows-TextColor);
}

#IsrTG_Content #IsrTG_Roster .TableRow .RowCell:first-child
{
	width:1%;
	white-space: nowrap;
	text-align:center;
	vertical-align: middle;
	text-align: center;
}

#IsrTG_Content #IsrTG_Roster .TableRow .RowCell
{
	text-align:center;
	vertical-align: middle;
}

#IsrTG_Content #IsrTG_Roster .RowCell a:link
{
	color: var(--Link);
	font-weight: bold;
}

#IsrTG_Content #IsrTG_Roster .RowCell a:visited
{
	color: var(--Link_Visited);
	font-weight: bold;
}


#IsrTG_Content #IsrTG_Roster .RowCell a:hover
{
	color: var(--Link_Hover);
	font-size: 110%;
}
/* End Roster Css style*/