/* Event Detail section */
table#calendar_event_details
{
	border:1;
	border-collapse: collapse;
	text-align:center;
	width:100%;
	cursor: default;
}

table#calendar_event_details table#Event_Attendance_HistoryLog
{
	border:1;
	border-collapse: collapse;
	text-align:center;
	width:100%;
	font-size: 85%;
}

table#calendar_event_details #Hitpakdut
{
	margin-top: 10px;
	height:100%;
}

table#calendar_event_details #Hitpakdut #AttendanceShowDiv
{
	display: block;
	margin-top: 10px;
	height:100%;
}

table#calendar_event_details table#Event_Attendance_HistoryLog .TableTitle
{
	font-weight:bold;
	text-align:center;
	background-color: var(--MainTableTitle-color);
	color: var(--MainTableTitle-Textcolor);
	vertical-align: middle;
	padding: 30px 0px 0px 30px;
	font-size: 95%;
	font-weight: bold;
}

table#calendar_event_details table#Event_Attendance_HistoryLog .TitleCell
{
	font-weight:bold;
	text-align:center;
	cursor: default;
	vertical-align: middle;
}

table#calendar_event_details table#Event_Attendance_HistoryLog .RowCell
{
	/*table history log RowCell*/
	text-align:center;
	font-size: inherit;
	color:black;
}

table#calendar_event_details table#Event_Attendance_HistoryLog .TableRow
{
	white-space: nowrap;
	vertical-align: middle;
}

table#calendar_event_details table#Event_Attendance_HistoryLog .TableRow:nth-child(odd)
{
	/*table history log RowLine*/
	white-space: nowrap;
	background: var(--Table_OddEven-rows-BgColor);
	color: var(--Table_OddEven-rows-TextColor);
}


table#calendar_event_details .RowCell
{
	padding: 0px 5px;
}

table#calendar_event_details .TableRow .RowCell:first-child
{
	width:15%;
	overflow:hidden;
	background:var(--FirstCol-BgColor);
	color:var(--FirstCol-TextColor);
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}
table#calendar_event_details .TableRow .RowCell div
{
		height:25px;
		
}

table#calendar_event_details div.Member_Attendance_Status_No
{
	
}

table#calendar_event_details div.Member_Attendance_Status_Yes
{
	
}

table#calendar_event_details div.Member_Havraza
{
	
}

table#calendar_event_details .TableRow .RowCell div img
{
	height:20px;
	width:20px;
}

table#calendar_event_details #briefing a:link
{
	color:var(--Link);
}
table#calendar_event_details #briefing a:visited
{
	color:var(--Link_Visited);
}
table#calendar_event_details #briefing a:hover
{
	color:var(--Link_Hover);
	font-size:102%;
}

	/*******{Inner Dutys table}********/
/*dutyName*/
	
	
table#Calendar_Dutys_table
{
	padding:10px;
	width:100%;
	
	border:var(--CalendarInnerDutys-Border);
		border-collapse:separate;
		border-radius: 30px;
		
	background: #fbfbfb;
	color:var(--CalendarInnerDutys-TextColor);
}

table#Calendar_Dutys_table tbody tr,
table#Calendar_Dutys_table tbody tr td
{
	border-collapse:collapse;
	border:none;
}

table#Calendar_Dutys_table tbody tr .Table_Col
{
	border-style: dotted;
	border-width: 0px 0px 0px 1px;
}

table#Calendar_Dutys_table tbody tr .Table_Col:last-child
{
	border:none;
}

table#Calendar_Dutys_table tbody tr .Table_Col hr
{
	margin-top:10px;
	border: 0;
    height: 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

table#Calendar_Dutys_table tbody tr .Table_Col table
{
	border:none;
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table
{
	margin-bottom:-10px;
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd
{	
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd div.groupName
{
	/*Duty Group name*/
    border:solid black 1px;
		border-radius:6px 30px 10px 10px;
		border-collapse:separate;

	position:relative;
	background:var(--CalendarDutysInnerGroupTitle-BgColor);
	color:var(--CalendarDutysInnerGroupTitle-TextColor);
	
	width:100%;
	padding:2px;
	font-weight: bold;
	font-size: 110%;
	vertical-align:middle;
	text-align:center;
	margin:-8px;
	z-index:2;
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable
{
	border:solid black 1px;
		border-radius:10px;
		border-collapse:separate;
		
	width:90%;
	padding:2px;
	margin-right:4%;
	text-align:right;
	z-index:1;
	background: var(--CalendarDutysInnerGroupTable-BgColor);
	color: var(--CalendarDutysInnerGroupTable-TextColor);
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow
{
	display:block;
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow .GroupDutyCol
{
	display:block;
	position:relative;
	top:10px;
	/*margin-top:-10px;*/
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow .GroupDutyCol div#HitpakdutDivs
{
	position:relative;
	white-space: nowrap;
	display:block;
	width:100%;
	height:35px;
	margin-bottom:5px;
	padding-bottom:5px;
	overflow:visible;
}


table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow .GroupDutyCol div#HitpakdutDiv1
{
	display:block;
	float:right;
	width:0px;
}

input:disabled
{
    cursor:not-allowed;
}

input:not(disabled)
{
    cursor:pointer;
}


table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow .GroupDutyCol div#HitpakdutDiv2
{
	white-space: nowrap;
	position:relative;
	right:20px;
	top:-3px;
	display:block;
	width: 80%;
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow .GroupDutyCol div#HitpakdutDiv2 div
{
	display:block;
	height:100%;
	width:100%;
	margin-bottom:-8px;
}


table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow .GroupDutyCol div#HitpakdutDiv2 div#HitpakdutDivDuty span
{
	
}

table#Calendar_Dutys_table table#Calendar_Inner_Dutys_table td.GroupTd table#innerGroupTable .GroupDutyRow .GroupDutyCol div#HitpakdutDiv2 div#HitpakdutDivPName
{
	
}

#playerNameLink a
{
	color: #74b550;
	font-size: 90%;
}

#playerNameLink.CalendarOtherUser a
{
	color: black;
	font-size: 85%;
}

.DutyDisable
{
	color:#dcdcdc;
	font-size: 70%;
}

.OpenDuty
{
	cursor:pointer;
	color:#3174ed;
	font-size: 90%;
}
.OpenDuty:hover
{
	font-weight: bold;
	cursor:pointer;
	color:#002871;
}
/*Hover over player name*/
#playerNameLink a:hover
{
	color:var(--Link_Hover);
	font-size:103%;
}
/*End Hover over player name*/

	/*******{End Inner Dutys table}********/
/* End Event detail section */








/* calendar Day Page Css style*/
table#calander_events_day_list
{
	border:1;
	border-collapse: collapse;
	text-align:center;
	width:100%;
	cursor: default;
}

table#calander_events_day_list #eventName a:link
{
	color: var(--Link);
	font-weight: bold;
}
table#calander_events_day_list #eventName a:visited
{
	color: var(--Link_Visited);
	font-weight: bold;
}
table#calander_events_day_list #eventName a:hover
{
	color: var(--Link_Hover);
	font-size: 110%;
}

table#calander_events_day_list .TableTitle
{
	font-weight:bold;
	text-align:center;
	background:#fa7070;
	color:white;
	vertical-align: middle;
	padding: 30px 0px 0px 30px;
	font-size: 120%;
	font-weight: bold;
}

table#calander_events_day_list .TitleCell
{
	font-weight:bold;
	text-align:center;
	cursor: default;
	vertical-align: middle;
}

table#calander_events_day_list .TableRow
{
	text-align:center;
	vertical-align: middle;
}

table#calander_events_day_list .RowCell
{
	text-align: center;
	vertical-align: middle;
}

table#calander_events_day_list .TableRow .RowCell:first-child
{
	width:20%;
	background:#d0d0d0;
	color:black;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}
/* End calendar Day Page Css style*/








/* calendar Css style*/
#IsrTG_CalendarDiv td .PrevMonth
{
	text-align:center;
	background:#9FA0A1;
	cursor: default;
	/*font-size: 80%;*/
}

#IsrTG_CalendarDiv td .CurrentMonth
{
	text-align:center;
	background:#d0d0d0;
	cursor: default;
}

#IsrTG_CalendarDiv td .NextMonth
{
	text-align:center;
	background:#bcbdbe;
	cursor: default;
	color:black;
}


#IsrTG_CalendarDiv td .Today
{
	border: 3px solid #324253;
	font-weight:bold;
	background:white;
	color:black;
}

#IsrTG_CalendarDiv td .Passed
{
	text-align:center;
	cursor: default;
}

#IsrTG_CalendarDiv td .Future
{
	text-align:center;
	background:#dadada;
	cursor: default;
	color:black;
}

#IsrTG_CalendarDiv td span
{
	height:100%;
	width:100%;
	color:#324253;
	font-weight:bold;
}

#IsrTG_CalendarDiv #IsrTG_CalendarTable
{
	border-collapse: collapse;
	text-align: center;
	border: 0px solid black;
	margin: 0px;
}

#IsrTG_CalendarDiv #IsrTG_CalendarTable #tableTitleSlider
{
	background:white;
	color: black;
}

#IsrTG_CalendarDiv #IsrTG_CalendarTable #tableTitleSlider .monthSlider
{
	width:20px;
	text-align:center;
}

#IsrTG_CalendarDiv #IsrTG_CalendarTable #tableTitleSlider .monthSlider a:link
{
	width:100%;
	color:black;
}
#IsrTG_CalendarDiv #IsrTG_CalendarTable #tableTitleSlider .monthSlider a:hover
{
	width:100%;
	color:red;
}


#IsrTG_CalendarDiv #IsrTG_CalendarTable #tableTitleSlider .tableTitle
{
	width:117px;
	font-weight:bold;
	text-align:center;
	cursor: default;
}

#IsrTG_CalendarDiv #IsrTG_Inner_calendar_table
{
	border-collapse: collapse;
	text-align: center;
	border: 1px solid black;
}

#IsrTG_CalendarDiv #IsrTG_Inner_calendar_table .titleDay
{
	width:30px;
	text-align:center;
	font-weight:bold;
	cursor: default;
	background:black;
	color: white;
}
/* End calendar Css style*/